#!/bin/bash

source batch-funcs

# nn values: "decisionTree", "logistic", "linearSVC", "predictor_nearestNeighb", "predictor_rbfSVC", "randomForest"
# default value: "logistic"

for nn in `seq 3 5`; do
	for i in `seq -w 1 10`; do
		runallied $nn $i
		runopposing $nn $i
	done
done
